:root{ 
    --dark-green: #00373E; 
    --background: #F7F6F4;
    --badge: #F9E6D0; 
    --gray: #B8B8B8;

    /* Fonts */
    --bricolage-grotesque: "Bricolage Grotesque", sans-serif;

    --font-title: 70px; 
    --font-subtitle: 52px; 
    --font-logo: 50px;
    --font-medium: 52px;
    --font-base: 24px;
    --font-description: 22px;
    --font-card-title: 40px;
    --font-text: 20px;
    --font-small: 14px;
    --font-card: 20px;
    --font-link: 18px;
}

@media (max-width: 900px) { 
    :root { 
        --font-title: 40px; 
        --font-subtitle: 38px; 
        --font-logo: 30px;
        --font-medium: 30px;
        --font-base: 18px;
        --font-description: 16px;
        --font-card-title: 30px;
        --font-text: 18px;
        --font-small: 12px;
        --font-card: 16px;
        --font-link: 14px;
    }
}


/** COMPONENTS **/
.header { 
    font-weight: 500; 
    font-size: var(--font-small);
    text-transform: capitalize;
}

.subtitle { 
    font-weight: 700; 
    font-size: var(--font-subtitle);
    margin: 0px;
    padding: 0px;
}

.description { 
    font-size: var(--font-description);
    margin: 0px;
}

.btn { 
    height: 54px;
    width: auto; 
    color: white; 
    padding: 0 39px;
    background: var(--dark-green);
    font-size: var(--font-card);
    border: none; 
    border-radius: 999px; 
    appearance: none; 
    cursor: pointer;
    z-index: 9;
}
.btn-outline { 
    background: transparent; 
    border: 2px solid var(--dark-green);
     color: var(--dark-green);
}
.btn-white { 
    background: white; 
     color: var(--dark-green);
}

.card { 
    header { 
        font-weight: 600;
        font-size: var(--font-card-title);
    }
    p { 
        font-size: var(--font-text);
        background: transparent; 
    }  
}



/** FORMATTING **/
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

a { 
    text-decoration: none;
    color: var(--dark-green);
}

ul { 
    list-style: none;
}

body { 
    background: var(--background);
    font-family: var(--bricolage-grotesque);
    color: var(--dark-green);

    > * { 
        max-width: 1240px;
        padding: 0 50px;
        margin: 0 auto; 

    }
}

main { 
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/** --- STYLES --- **/

/** SECTIONS **/
#header { 
    display: flex; 
    align-items: center;
    margin: 75px auto; 

    h1 { 
        flex: 1; 
        text-align: center;

        a { 
            font-size: 50px;
        }
    }

   

    nav { 
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        ul { 
            display: flex; 
            
            gap: 69px;
            align-items: center;
            
            
            a { 
                font-size: var(--font-link);
            }
        }
    }

    @media (max-width: 900px) { 
        margin: 50px auto; 

        nav { 
            ul { 
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background: var(--background);
                flex-direction: column;
                gap: 10px;
                padding: 20px;
            }
        }
    }
}


#hero { 
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 15px;
    width: 100%; 
    max-height: 688px;
    height: 65dvh;
    
    background-color: var(--badge);
    border-radius: 70px;
    text-align: center;

    h2 { 
        font-weight: bold;
        font-size: var(--font-title);
    }
    p  {
        font-size: var(--font-base);
    }
    .btn { 
        margin-top: 20px;
    }

    .image-left { 
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .image-right { 
        position: absolute;
        right: 0;
        bottom: 0;
    }

    @media (max-width: 900px) { 
         .image-left { 
        width: 150px;
    }
    .image-right { 
        width: 150px;
    }

    }
}

#about { 
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 564px;
    align-items: center;
    column-gap: 100px;
    row-gap: 50px;
    .left { 
        max-width: 476px;
        display: grid;
        justify-items: start;
        align-content: start;
        gap: 37px;
       
    }
 

    .green-card{ 
        max-width: 550px;
        display: flex; 
        justify-content: center;
        position: relative; 
        background: var(--dark-green);
        width: 550px;
        aspect-ratio: 1/1;
        border-radius: 70px;

        img { 
            position: absolute; 
            bottom: 0; 
        }
    }
}


#services { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
    gap: 80px;
    width: 100%;

    .top { 
        display: flex; 
        flex-direction: column; 
        align-items: center;
        gap: 20px;
    }
    
   

    .service-container{
        text-align: start;
        width: 100%; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 455px);
        gap: 40px;

       

        > * { 
            border-radius: 70px;
            padding: 75px 52px 82px 60px;
            gap: 35px; 
            display: grid; 
            justify-items: start;
            align-items: start;

            
        }

        > :nth-child(1) { 
            background: var(--badge);
            position: relative; 
            img { 
                position: absolute; 
                right: 52px; 
                bottom: 82px;
                width: 200px;
                z-index: 0;
            }
            p { 
                max-width: 295px;   
                z-index: 1;
            }
        }
        > :nth-child(2) { 
            background: white;
        }
        > :nth-child(3) { 
            position: relative;
            grid-column: 1/ 3;
            background: white;
            p { 
                z-index: 1;
            }
            img { 
                position: absolute; 
                right: 0; 
                bottom: 0;
                z-index: 0;
            }
           
        }
    }
      @media (max-width: 900px) { 
        .service-container { 
            grid-template-columns: minmax(400px, 600px); 
            grid-template-rows: 455px 455px 520px;
            justify-content: center;
            
            > :nth-child(3) { 
                grid-column: 1/ 2;
            }
            img { 
                width: 250px;
            }
        }

    }
}





footer { 
    display: grid; 
    justify-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 50px; 
    margin-top: 120px;
    margin-bottom: 40px;
    
    > div { 
        max-width: 570px;
        height: 460px;
        width: 100%;
        border-radius: 70px; 
    }

    > :nth-child(1) { 
        padding: 40px 60px 64px 60px;
        background: white;
        display: grid; 
        gap: 40px; 
        > a { 
            font-size: var(--font-card-title);
            font-weight: 700;

        }
        nav { 
            ul { 
                display: grid; 
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(5, 1fr);
                gap: 20px;

            }
             a { 
                font-size: var(--font-link);
            }
        }
        p { 
            color: var(--gray);
        }
    }
    > :nth-child(2) { 
        display: grid;
        gap: 50px;
        background: var(--dark-green);
        padding: 70px;
        padding-top: 75px;

        position: relative; 
        overflow: hidden;
        p { 
            color: white;
            font-size: var(--font-card-title);
            font-weight: 700;
            z-index: 1;
        }
        img { 
            position: absolute; 
            top: 36px; 
            right: 0;
        }
        
    }
}

